@import "../../Styles/Colors";

.circle-image {
  border-radius: 50%;
  width: 60vh;
  height: 60vh;

  position: absolute;
}

.circle-container {
  border-radius: 50%;
  width: 60vh;
  height: 60vh;
  margin-top: calc(25vh);
  margin-left: -35%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid $black;

  position: absolute;
}
