@import "_Text", "_Colors", "_Spacing", "_Containers";

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: $Black;
}
.bg-white {
  background-color: $White;
}
.bg-red {
  background-color: $Red;
}
.bg-blue {
  background-color: $Blue;
}
.bg-yellow {
  background-color: $Yellow;
}

.black {
  color: $Black;
}

.white {
  color: $White;
}
.red {
  color: $Red;
}
.blue {
  color: $Blue;
}
.yellow {
  color: $Yellow;
}
p {
  color: none;
}
