@import "../../Styles/Colors";

.topic-list-container {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10%;
  margin: 0 auto;
}

.topic-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.topic-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max(290px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
}

.topic-image-container {
  height: 100%;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.topic-text-container {
  min-width: 100px;

  border-radius: 10px;
  padding: 5%;
}

.order-1 {
  order: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-self: left;
}
.order-2 {
  order: 2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-self: right;
}
