@import "../Styles/_GlobalVariables.scss";

body {
  background-color: $base;
  color: $white;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.page-inner-wrapper {
  margin: 10%;
}

.offWhite {
  color: white;
}
