@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.bg-white {
  background-color: #f5f5f5;
}

.white {
  color: #f5f5f5;
}

.bg-black {
  background-color: #353535;
}

.black {
  color: #353535;
}

.bg-primary {
  background-color: #352665;
}

.primary {
  color: #352665;
}

.bg-secondary {
  background-color: #1785c3;
}

.secondary {
  color: #1785c3;
}

.bg-tertiary {
  background-color: #006c67;
}

.tertiary {
  color: #006c67;
}

.bg-highlight {
  background-color: #fe9000;
}

.highlight {
  color: #fe9000;
}

.roboto {
  font-family: "Roboto";
}

.fredoka {
  font-family: "Fredoka One";
}

.fredoka a {
  font-family: "Fredoka One";
}

.fredoka p {
  font-family: "Fredoka One";
}

h1 {
  font-size: 3em;
  font-weight: 800;
  font-family: "Fredoka One";
  margin: 0;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
  font-family: "Fredoka One";
  margin-top: 0.3em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Fredoka One";
  margin-top: 0.3em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Fredoka One";
}

h5 {
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Fredoka One";
}

h6 {
  font-size: 1em;
  font-weight: 500;
  font-family: "Fredoka One";
}

p {
  font-size: 1.2em;
  font-weight: 300;
  font-family: "Roboto";
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: rgba(253, 228, 196, 0.212);
}

.textS {
  font-size: 1em;
}

.textM {
  font-size: 2em;
}

.textL {
  font-size: 3em;
}

.heavy {
  font-weight: 800;
}

.bold {
  font-weight: 500;
}

.regular {
  font-weight: 300;
}

.light {
  font-weight: 200;
}

.thin {
  font-weight: 100;
}

.heading {
  font-weight: 300;
  font-size: 2.5em;
  margin-top: 0;
  font-family: "Fredoka One";
}

.markdown-white p {
  color: #f5f5f5;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.markdown-white p a {
  font-weight: 400;
  text-decoration: underline;
}

.markdown-white h1 {
  color: #f5f5f5;
}

.markdown-white h2 {
  color: #f5f5f5;
}

.markdown-black p {
  color: #353535;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.markdown-black a {
  font-weight: 400;
  text-decoration: underline;
}

.markdown-black h1 {
  color: #353535;
}

.markdown-black h2 {
  color: #353535;
}

.bg-white {
  background-color: #f5f5f5;
}

.white {
  color: #f5f5f5;
}

.bg-black {
  background-color: #353535;
}

.black {
  color: #353535;
}

.bg-primary {
  background-color: #352665;
}

.primary {
  color: #352665;
}

.bg-secondary {
  background-color: #1785c3;
}

.secondary {
  color: #1785c3;
}

.bg-tertiary {
  background-color: #006c67;
}

.tertiary {
  color: #006c67;
}

.bg-highlight {
  background-color: #fe9000;
}

.highlight {
  color: #fe9000;
}

.paddingXS {
  padding: 2px;
}

.paddingS {
  padding: 5px;
}

.paddingM {
  padding: 10px;
}

.paddingL {
  padding: 15px;
}

.paddingXL {
  padding: 25px;
}

.marginXS {
  margin: 2px;
}

.marginS {
  margin: 5px;
}

.marginM {
  margin: 10px;
}

.marginL {
  margin: 15px;
}

.marginXL {
  margin: 25px;
}

.flex-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w100 {
  width: 100%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f1923;
  color: #f5f5f5;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.page-inner-wrapper {
  margin: 10%;
}

.offWhite {
  color: white;
}
/*# sourceMappingURL=App.css.map */